# Build
target/
build/
*.jar
!.mvn/wrapper/maven-wrapper.jar

# Datos locales
data/
*.log

# IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Credenciales / secretos - NUNCA versionar
.env
*.env
application-local.yml
application-secret.*
aws-credentials*
*.pem
*.jks
cwallet.sso
tnsnames.ora
ojdbc.properties
wallet/

# SO
.DS_Store
Thumbs.db

# Office temp
~$*
*.tmp
